<div class="fixed right-0 top-0 h-full w-96 bg-white shadow-xl p-6">

    <h2 class="text-xl font-bold mb-4">
        {{editData ? 'Edit Expense':'Add Expense'}}
    </h2>

    <form [formGroup]="form" (ngSubmit)="save()">

        <input type="date" formControlName="date" class="w-full mb-2 px-4 py-2 border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-gray-500 
         focus:border-transparent">

        <input type="text" placeholder="Category" formControlName="category" class="w-full mb-2 px-4 py-2 border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-gray-500 
         focus:border-transparent">

        <input type="number" placeholder="Amount" formControlName="amount" class="w-full mb-2 px-4 py-2 border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-gray-500 
         focus:border-transparent">

        <textarea placeholder="Note" formControlName="note" class="w-full mb-2 px-4 py-2 border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-gray-500 
         focus:border-transparent"></textarea>

        <input type="file" formControlName="file" class="w-full mb-2 px-4 py-2 border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-gray-500 
         focus:border-transparent">

        <div class="flex gap-3">

            <button class="bg-green-600 text-white px-4 py-2 rounded">
                Save
            </button>

            <button type="button" class="bg-gray-300 px-4 py-2 rounded" (click)="close.emit()">
                Cancel
            </button>

        </div>

    </form>

</div>