<p>registration works!</p>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-3">
      <label>Name</label>
    </div>
    <div class="col-4">
      <input type="text" formControlName="name">
      @if (formControl['name'].invalid && formControl['name'].touched) {
        <span>* Name is Required</span>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Email</label>
    </div>
    <div class="col-4">
      <input type="email" formControlName="email">
      @if (formControl['email'].invalid && formControl['email'].touched) {
        <span>
          @if (formControl['email'].errors?.['required']) {
            <span>* email is Required</span>
          }
          @if (formControl['email'].errors?.['email']) {
            <span>* Invalid email</span>
          }
        </span>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Password</label>
    </div>
    <div class="col-4">
      <input type="text" formControlName="password">
      @if (formControl['password'].invalid && formControl['password'].touched) {
        <span>
          @if (formControl['password'].errors?.['required']) {
            <span>
              * password is Required
            </span>
          }
          @if (formControl['password'].errors?.['minLength']) {
            <span>
              * password minimum 6 char
            </span>
          }
        </span>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Confirm Password</label>
    </div>
    <div class="col-4">
      <input type="text" formControlName="confirmPassword">
      @if (formControl['confirmPassword'].invalid && formControl['confirmPassword'].touched) {
        <span>*
        confirmPassword is Required</span>
      }
    </div>
  </div>
  <button type="button" (click)="submit()"></button>
</form>