<!-- Main Container -->
<!-- <div class="w-full max-w-6xl bg-white rounded-xl shadow-lg">-->
<div class="grid grid-cols-1 lg:grid-cols-12 gap-6">

  <div class="lg:col-span-8">

    <!-- Dashboard Content -->
    <div class="bg-gray-50 rounded-2xl p-4 sm:p-6 lg:p-8">

      <h2 class="text-2xl sm:text-3xl font-bold text-slate-800">
        Dashboard
      </h2>

      <!-- Welcome Card -->
      <div class="rounded-2xl bg-white shadow p-5 sm:p-6 mb-6">
        <h3 class="text-xl font-semibold text-gray-700">
          Hello, {{userdetails?.userName}} 👋
        </h3>
      </div>

      <!-- Expense Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-6">

        <!-- Today Expense -->
        <div class="flex items-center gap-4 bg-blue-50 p-6 rounded-lg shadow hover:shadow-md transition">

          <div class="bg-blue-200 text-blue-800 text-2xl w-14 h-14 flex items-center justify-center rounded-lg">
            ₹
          </div>

          <div>
            <p class="text-gray-600">Today's Expense</p>
            <h3 class="text-2xl font-bold text-gray-800">{{todayExpenses() ? (todayExpenses() | number) : 0}} </h3>
          </div>

        </div>

        <!-- Monthly Expense -->
        <div
          class="flex flex-col lg:flex-row sm:items-center lg:justify-between gap-4 bg-blue-50 rounded-2xl p-5 shadow">
          <div class="">

            <div class="inline-flex items-center
                   bg-white rounded-xl border
                   px-4 py-2 w-fit">
              <!-- <i class="fa-regular fa-calendar text-slate-500 mr-2"></i> -->
              <input type="month" [max]="maxMonth" [value]="selectedMonthYear()" (change)="monthChange($event)"
                class="bg-transparent outline-none text-gray-700 font-medium cursor-pointer">

            </div>
          </div>
          <!-- <div
            class="bg-blue-200 text-blue-800 text-2xl w-11 h-11 flex items-center justify-center rounded-lg expenseMonth ">
            <select class="px-4 py-2 rounded-lg border border-gray-300" [ngModel]="selectedMonth()"
              (change)="monthChange($event)">

              @for (month of months; track month.id) {
              <option [value]="month.id">
                {{ month.name }}
              </option>
              }

            </select>
          </div> -->

          <div class="lg:text-right">
            <p class="text-gray-600 text-sm">This Month's Total</p>
            <h3 class="text-2xl font-bold text-gray-800">₹ {{monthTotal() ? (monthTotal() | number) : 0 }}</h3>
          </div>

        </div>

      </div>

      <!-- Action Buttons -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

        <button
          class="flex items-center justify-center gap-3 border-b bg-gradient-to-r from-teal-600 to-cyan-600 text-white text-lg font-semibold py-4 rounded-lg hover:bg-teal-700 transition"
          (click)="openAdd()">

          <span class="text-xl transition-transform group-hover:rotate-90">
            +
          </span>

          <span class="font-semibold">
            Add Expense
          </span>
        </button>

        <button
          class="flex items-center justify-center gap-3 bg-gray-200 text-gray-700 text-lg font-semibold py-4 rounded-lg hover:bg-gray-300 transition"
          (click)="viewExpenses()">
          🔍 View Expenses
        </button>

      </div>

    </div>
    <app-expense-list [mode]="'D'">
    </app-expense-list>
  </div>

  <!-- <div class="lg:col-span-4">
    <div class="flex justify-center">
      <img src="expenseTracker.jpg" width="150px" class="img">
    </div>
  </div> -->
  <div class="lg:col-span-4 mt-6 lg:mt-0">

    <div class="flex flex-col gap-6">

      <!-- Category Wise Pie Chart -->
      <div class="bg-white rounded-2xl shadow-lg border border-slate-100 p-5">

        <div class="flex items-center justify-between mb-4 mt-2">

          <h3 class="text-lg font-semibold text-slate-800">
            Category Wise Expense
          </h3>

          <div class="w-10 h-10 rounded-xl bg-teal-100 flex items-center justify-center">
            🥧
          </div>

        </div>

        <div class="h-72">

          <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" type="pie">
          </canvas>

        </div>

      </div>

      <!-- Monthly Expense Trend -->
      <div class="bg-white rounded-2xl shadow-lg border border-slate-100 p-5">

        <div class="flex items-center justify-between mb-4">
          <h3 class="text-lg font-semibold">
            Monthly Expense Trend
          </h3>

          <select [(ngModel)]="selectedYear" (change)="loadMonthlyChart()"
            class="rounded-lg border border-slate-300 px-3 py-2">

            @for(year of years; track year){
            <option [value]="year">
              {{year}}
            </option>
            }

          </select>
        </div>

        <div class="h-72">

          <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" type="line">
          </canvas>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- dialog -->
@if (openForm) {

<div class="fixed inset-0 z-50
           flex items-center justify-center
           bg-slate-900/50
           backdrop-blur-sm
           animate-fadeIn">

  <!-- Dialog -->
  <div class="relative
               w-[95%]
               max-w-xl
               bg-white
               rounded-2xl
               shadow-2xl
               overflow-hidden
               animate-scaleIn">

    <!-- Header -->
    <div class="flex items-center justify-between
                   px-6 py-5
                   border-b
                   bg-gradient-to-r from-teal-600 to-cyan-600  max-h-[65vh]">

      <div>
        <h2 class="text-xl font-bold text-white">
          {{ editData ? 'Edit Expense' : 'Add Expense' }}
        </h2>

        <p class="text-sm text-teal-100 mt-1">
          Fill in the expense details
        </p>
      </div>

      <button (click)="closeForm()" class="w-10 h-10
                       rounded-full
                       bg-white/20
                       hover:bg-white/30
                       text-white
                       transition">

        ✕

      </button>

    </div>

    <!-- Body -->
    <div class="p-6 max-h-[65vh] overflow-y-auto">

      <app-expense-form [editData]="editData" (close)="closeForm()">
      </app-expense-form>

    </div>

  </div>

</div>

}